VStudioLcdUI/DcDccControler/DcDccControler.vcxproj.filters
VStudioLcdUI/DcDccControler/DcDccControler.vcxproj.user
VStudioLcdUI/DcDccControler/Debug/
VStudioLcdUI/VStudioLcdUI.v12.suo
VStudioLcdUI/Debug/
VStudioLcdUI/VStudioLcdUI.sdf
VStudioLcdUI/VStudioLcdUI.opensdf
.gitignore

VStudioLcdUI/.vs/VStudioLcdUI/v14/.suo
VStudio/.vs
*.*db
VStudio/old
VStudio/x64
